/*
Tres formas de utilizar los selectores CSS.
1. Selector de etiqueta: h1, p, header, nav, ul, etc.
2. ID: Por el identificador unico (nombre) de la etiqueta
3. Clase: se agrega el atributo clase a cada elemento donde se desea utilizar.
*/
main{
    background-color: #feffc9;
    text-transform: uppercase;
}

footer{
    background-color: #d2ebff;
    text-transform: uppercase;
    color: #0c124d;
}

main > article > section > h1:hover, 
#hTitulo:hover{
    background-color: #9bccf5;
    cursor:pointer;
}
input[type="text"]:invalid{
    background-color: #ffcfa8;
}
input[type="text"]:valid{
    background-color: #cdffd1;
}